body{
	background-color: #7352F5;
}

#box
{

	height: 80px;
	width: 550px;
	border: 2px solid #FEEA95;
	border-radius:20px 20px 20px 20px;
	background-color: #FEEA95;
	margin:auto;
}

#circle
{
	height: 150px;
	width: 150px;
	border:2px solid red;
	border-radius: 50%;
	background-color: #7FFFD4;
	margin-left: 50px;
	margin-top: 100px;

}


#title
{
	margin-top:20px;
	margin-left:18px;
	color:green;
}